[2017-01-19 13:28] mitjade opened #3 "createBatchingNetworkInterface"
Would this also work with createBatchingNetworkInterface or just createNetworkInterface?

[2017-01-19 13:32] mitjade opened #4 "Compatibility with apollo-client v0.7.3"
I get an error if I use apollo-client v0.7.3.

`import 'whatwg-fetch';`
`SyntaxError: Unexpected token import`

With apollo-client v0.6.0 it is ok.

[2017-01-21 06:53] stubailo commented on #4
Odd, that code doesn't appear in this package - what's the stack trace?

[2017-01-21 07:19] mitjade commented on #4
`[1] .../GitHunt-React/server_bundle.js:98859`
`[1] 	import 'whatwg-fetch';`
`[1] 	^^^^^^`
`[1] SyntaxError: Unexpected token import`
`[1]     at Object.exports.runInThisContext (vm.js:78:16)`
`[1]     at Module._compile (module.js:543:28)`
`[1]     at Object.Module._extensions..js (module.js:580:10)`
`[1]     at Module.load (module.js:488:32)`
`[1]     at tryModuleLoad (module.js:447:12)`
`[1]

[2017-01-29 19:51] taniadaniela opened #6 "Unhandled promise rejection"
I'm having this issue when trying to execute:
[code]
I'm using extractgql": "^0.2.1" with node@6.9.1 and graphql 0.9.0 on Mac OS

[2017-01-30 15:36] Poincare commented on #6
Could you describe what kind of file structure you have as well as some of the queries associated with the project? What arguments were passed to the CLI tool?

[2017-01-30 15:37] Poincare commented on #4
Ah. We briefly removed the `whatwg-fetch` polyfill within Apollo Client. I'm not sure what that has to do with this tool but could you try updating to the latest AC?

[2017-01-30 15:38] Poincare commented on #3
At the moment, the `PersistedQueryNetworkInterface` subclasses the `HTTPFetchNetworkInterface` although it doesn't really have to do this. Would appreciate a PR that has it depend on a generic NetworkInterface instead!

[2017-01-30 17:05] mitjade commented on #4
Tried v0.8.1, same thing.

I get the same problem when I try to follow https://github.com/apollostack/GitHunt-React/pull/176/files when I add:
`import { PersistedQueryNetworkInterface } from 'extractgql/lib/browser'`

I guess `whatwg-fetch` is not the problem here, but it has something to do with `import` and `webpack`, will try to figure out what I'm doing wrong.

[2017-02-01 17:51] taniadaniela commented on #6
node_modules/extractgql/bin/extractgql src
on a nodejs app using apollo server and graphql

[2017-02-01 19:11] taniadaniela commented on #6
was a syntax error on my graphql file, fixed now.

[2017-02-01 19:11] #6 closed

[2017-02-06 21:50] stubailo opened #7 "Enable people to pass in alternate literal tags other than gql"

[2017-02-07 18:21] ex0ns opened #8 "Module not found"
Hello,

I installed this package today, but when I tried to run it, I got the following error:

[code]

Indeed, `lib/src/index.js` is missing, it seems that it should be `binary.js`, could you please take a look.

ex0ns

[2017-02-08 01:14] Poincare commented on #8
I pushed an update last night that fixed this. What version does your error pertain to?

[2017-02-08 01:47] ramikhalaf commented on #3
@Poincare I'd like to take a stab at this, is there a contribution guide I can follow?

[2017-02-08 01:56] Poincare commented on #3
@ramikhalaf Awesome! There isn't really a contribution guide but, here's basically the equivalent of one for this particular issue:

[This(https://github.com/apollographql/persistgraphql/blob/master/src/network_interface/ApolloNetworkInterface.ts) is where the network interface is currently implemented. What you probably want to do is replace this class with a method like `addPersistedQueries` tha

[2017-02-08 02:15] ramikhalaf commented on #3
@Poincare, the method we replace in this case is `fetchFromRemoteEndpoint(request, options)`?

[2017-02-08 05:52] ramikhalaf commented on #3
@Poincare checkout #9 and let me know if theres anything I can make better!

[2017-02-08 09:00] ex0ns commented on #8
I tried with version persistgraphql@0.2.9 from NPM and by building commit 42ca095ff79cbadf1819f99a61ca76056fd388d6 from this repo, same issue each time

[2017-02-08 10:18] ex0ns commented on #4
Hi,
Did you find a solution  ?
I use Meteor and I had the same problem when trying to import `PersistedQueryNetworkInterface`, the issue seems to come from https://github.com/apollographql/apollo-client/blob/master/src/transport/networkInterface.ts#L1, it seems to be a ES6 compatibility issue, coming from one of the build tool (I did not find a (clean) solution though).

As I only wanted to test t

[2017-02-08 14:23] Poincare commented on #8
Ah - I understand the issue. I just released 0.2.10 which should fix it by changing the binary import. Could you check if that works for you?

[2017-02-08 14:58] ex0ns commented on #8
0.2.10 fixes the issue ! Thanks.

[2017-02-08 14:58] #8 closed

[2017-02-08 15:26] Poincare commented on #8
Great :)

[2017-02-08 21:38] rmosolgo opened #10 "How to handle active clients during re-deploys?"
Hi, thanks for sharing this repo! Looks like lots of good work.

I've been doing some thinking about persisted queries as well (but not much _doing_). I'm curious how you'd handle this situation:

- Many clients are out "in the wild" with persisted query IDs
- You refactor the application, changing the data requirements and the graphql queries
- You redeploy the application which now has new queri

[2017-02-08 23:14] stubailo commented on #10
I think the right approach is to keep around all queries that have ever been persisted, until you are really sure there are no old clients out there. So I would suggest taking the output of this tool and adding some large number to every ID.

Perhaps a PR to switch to UUIDs instead of numbers would be good, then people can just insert the IDs as-is.

[2017-02-08 23:15] stubailo commented on #10
I think keeping them in a database would be reasonable. Are you planning on supporting a feature like this in Ruby?

[2017-02-09 00:06] Poincare commented on #10
Agree with @stubailo. I think persistgraphql should probably allow you to do a "merge with existing" kind of thing where you can crawl an updated codebase but merge it with an existing persisted queries JSON file.

[2017-02-09 00:10] stubailo commented on #10
Is that to avoid saving duplicate queries?

Actually, using a hash instead of an ID would probably solve that since you can just insert into your database of queries if the hash doesn't exist.

[2017-02-09 00:22] Poincare commented on #10
In my mind, it would just be a convenience thing that allows you to handle multiple client versions rather than something that's meant to reduce the number of queries represented in the map.

[2017-02-09 00:23] stubailo commented on #10
I guess I don't think anyone will actually be storing the queries in a JSON file, so if anything a more useful thing would be a function that saves the queries to some kind of storage.

[2017-02-09 07:56] mitjade commented on #4
Hi,

Current GitHunt-React and GitHunt-API examples still do not work for me, if I update 'apollo-client'.
Will wait for #9 to get merged and try again.

But was able to get it working with 0.6.0, by updating 'persistgraphql' to 0.2.10.

[2017-02-09 11:07] ex0ns commented on #4
Yes,

I wonder if this is not a module issue between apollo-client which uses es2015 import and and persistgraphql which is based on commonJS imports.

I noticed that changing 'apollo-client' to 0.8.1 in devDependencies generates
[code]
require("whatwg-fetch");
var printer_1 = require("graphql-tag/printer");
function printRequest(request) {
[code]

[2017-02-09 14:14] rmosolgo commented on #10
Yeah, I'm definitely interested in building a persisted query system for Ruby servers. I [took a crack at it](https://github.com/rmosolgo/graphql-sprockets) a while back and it left me with these questions:

- How to support outstanding clients? (This also applies to development: if you change the `.graphql` files, your currently-open browser is now stale, and at least for Rails, the only option i

[2017-02-09 14:14] #10 closed

[2017-02-09 16:31] stubailo commented on #10
Oh, I think the server should accept all queries in development mode.

So the answers to your questions IMO are:

1. You never delete queries, only add them to a database; in development, the server should accept all queries and there's no need for persisting.
2. I think queries should be stored in a database and cached in memory, I can imagine people easily having many thousands of queries since

[2017-02-11 00:12] Poincare opened #11 "Add syntax highlighting to the README"

[2017-02-13 08:54] dotansimha commented on #4
I think that there is an issue with the compiled file `/apollo-client/transport/networkInterface.js` - is that okay that `import ...` is in use? I think is should be `require(...)`.

As a temporary workaround, add this to your Webpack loaders config:
[code]

[2017-02-13 09:08] mitjade commented on #4
Should I raise an issue in "apollo-client"?

[2017-02-13 09:11] dotansimha commented on #4
@mitjade I am not sure it related directly to apollo-client, since `import ...` is valid ES6 imports syntax.
Maybe it can be solved if using Webpack and Babel config with es6 imports.

[2017-02-15 10:25] mitjade commented on #3
I see #9 was merged. Any chance of releasing this soon, so I can test it out.

[2017-02-16 15:06] fubhy commented on #3
Great work. I opened a PR against apollo-client for the last necessary step (passing through the 'id' property on the request object when batching).

https://github.com/apollographql/apollo-client/pull/1302

[2017-02-17 02:28] Poincare commented on #3
@mitjade Will be released tomorrow night - may be coupled with a couple of other small changes.

@fubhy Thanks! Getting batching working with persisted queries would be super cool.

[2017-02-17 11:25] fubhy opened #13 "Sorting of fragments in getQueryDocumentKey incorrect"
I am having issues with multiple, nested fragments where the query string produced by getQueryDocumentKey doesn't match the run-time query. The mismatch lies in the sorting of the fragments.

This is the query that is sent:

[code]

And this is the query from the queryMap:

[code]

[2017-02-17 11:26] fubhy commented on #13
You can see that the query sent by apollo-client has the fragments sorted in order of their occurrence while the one generated for the query map has them randomly sorted.

[2017-02-18 00:04] Poincare commented on #13
Internally, this tool uses a `graphql-js` function that extracts the fragments, etc. for a particular query. It seems that it doesn't order the fragments in the same way.

I guess there are two solutions: keep the ordering consistent or make the serialization function (which is currently just `graphql-js`'s `print`) robust to re-ordering of the fragments. I'm inclined to just doing the first since

[2017-02-18 13:20] fubhy commented on #13
I agree.

[2017-02-18 14:00] fubhy commented on #13
I am not sure actually... In the short term this might work. In the long term, however, we might want to fix this on the serialization level which seems like a more robust approach.

[2017-02-18 14:10] fubhy commented on #13
We also want to order field names in sub selections. And arguments. And spread operators. I think we already opened the can of worms.

[2017-02-18 14:17] fubhy commented on #13
Instead of crawling all files sequentially for any gql tags we needs to just pick up queries and mutations and then resolve those with their fragments replacing occurrences of ${Foo.fragments.barFragment} properly.

[2017-02-18 15:06] fubhy commented on #13
I guess this is what we are looking for: https://github.com/apollographql/graphql-tag/issues/31. Extracting the queries and converting them to an AST at build time and then using that AST both on the server and the client (if both are JS) or printing it for the queries.json for non-JS servers would be the 100% robust solution. That means that this project would drop all of the template literal ext

[2017-02-18 17:06] Poincare commented on #13
Hm. I think there are two orthogonal issues here, one slightly more important the other.

The first issue is that stuff like `${Foo.fragments.barFragment}` is not replaced so the template literal support breaks when you use fragments since they are not ordered correctly, etc.

The second issue that the way that the fragments are currently ordered by this tool is different from what happens at runt

[2017-02-19 02:10] #11 closed

[2017-02-19 17:25] dotansimha commented on #4
The actual error is thrown because this package imports from inner files of `apollo-client/.../..` (https://github.com/apollographql/persistgraphql/blob/master/src/network_interface/ApolloNetworkInterface.ts#L5) instead of loading those from the main package `apollo-client`.

[2017-02-19 20:19] Poincare commented on #4
Those imports can now be removed because I believe Apollo Client now exports those from the main package.

[2017-02-21 18:25] #4 closed

[2017-02-21 21:50] mitjade commented on #3
I seen this was now released and am trying to get this to work.
How would one change for example:

[code]
to work with `PersistedQueryNetworkInterface `?

However I try to wrap or replace it with `PersistedQueryNetworkInterface `, I keep getting `TypeError: Cannot set property '_uri' of undefined`.

I have latest `apollo-client` 0.8.7 and `persistgraphql` 0.3.0 packages.

[2017-02-21 21:58] mitjade commented on #3
Sorry, missed `addPersistedQueries(networkInterface: NetworkInterface, queryMap: OutputMap)` that is mentioned in readme.

[2017-02-23 07:16] mitjade commented on #3
Was able to test this and it is working. Will close this now.

[2017-02-23 07:16] #3 closed

[2017-02-23 18:24] wyattjoh commented on #13
Also experiencing the same issue.

We have a query https://github.com/coralproject/talk/blob/2dda81f2574cc6662ca3a528324246b814558e17/client/coral-framework/graphql/queries/streamQuery.graphql that is not being sorted properly resulting in the code generated by the `graphql-tag/loader` (https://github.com/coralproject/talk/blob/2dda81f2574cc6662ca3a528324246b814558e17/webpack.config.js#L78) and th

[2017-02-24 21:00] Poincare commented on #13
@wyattjoh I think a good solution to this problem is to simply sort the query definitions in a well-defined way before inserting them into the query map and before comparing into the query map. The problem @fubhy outlined is somewhat different as I outlined above but this particular solution is definitely needed. Would you interested in working on a PR for this?

[2017-03-08 16:11] jbreckel opened #15 "tslint as devDependency"
Is there a reason why `tslint` is a `dependency` instead of a `devDependency`?

[2017-03-08 16:50] stubailo commented on #15
I think it should be a devDependency, you're right!

[2017-03-09 04:10] lassombra opened #16 "Provide a webpack plugin [feature request]"
It would be really nice if this tool would be available as a webpack plugin as well.

Graphql-tag has a loader module that it offers which I use extensively.  I would love to have as an automatic part of my build a similar function with persisted queries.

I have a couple of theories about how this might function, they start out pretty much the same.
1.  Similar to extract text plugin with remove:

[2017-03-09 04:23] Poincare commented on #15
True - will fix.

[2017-03-09 04:28] lassombra opened #17 "Retain previously persisted queries for a number of subsequent builds[feature request]"
One of the things keeping us from using this in our implementation is that existing published client builds would not be supported if a query goes away, or something reorders them.  One thought as to how to handle this:

- scan output file for already defined queries (production build would update this and store it in git).
- queries in output file not in input scan are marked in some way (separat

[2017-03-09 07:56] Poincare commented on #17
Hi @lassombra - thanks for opening the issue. Although I agree that this is definitely a valid concern for query versioning, I don't think this package should be responsible for handling the semantics of query deprecation, versioning, storage, etc. since these likely vary widely across different use cases and production environments.

Instead, I think we should implement a simple addition to the t

[2017-03-09 13:51] lassombra commented on #17
@Poincare I can see how that information could be different.  My reasons for wanting it in this tool are many, and I'll lay the ones I think are pretty universal out.  Obviously this is a request not an expectation.

- Current behavior means that no legacy queries make it into final build.  This can have various problems for older clients, but from a security standpoint it's great, if a query is d

[2017-03-09 14:47] Poincare commented on #15
[Fixed here](https://github.com/apollographql/persistgraphql/commit/7425bc308d7f64d6408dab9c249f658bc8486795).

[2017-03-09 14:47] #15 closed

[2017-03-09 23:20] chollier commented on #6
@taniadaniela how did you spot the error?

[2017-03-13 03:10] Poincare commented on #17
@lassombra Would it be possible to build this query counting logic outside of this package rather than within it? I imagine taking the output of this tool and then running a simple build step to figure out how to merge with your existing queries (and keeping counts as needed) would be pretty simple.

Secondly, I don't think it is a good idea for the count to represent the number of times a particu

[2017-03-13 08:36] lassombra commented on #17
It certainly could.  And I would somewhat agree to the somewhat brittle statement.  As I said above, my preference would be to have only one tool scan the application.  So if preservation logic moves into this tool (which I really think it should) then some kind of removal reporting logic should as well.

That said, perhaps this should be split into two issues?  One for the preservation of existin

[2017-03-20 16:08] lewisf opened #19 "Extract gql extraction into another package"
The GQL extraction provided in persistgraphql is pretty great. I'm hoping to use it to add support for javascript source files within apollo-codegen or similar projects and having the gql extraction stuff available as a separate package would make that much easier. It that something that sounds reasonable?

[2017-03-20 16:22] Poincare commented on #19
Yeah, definitely! In fact, that would help solve #17 as well since people could just build stuff on top of the `ExtractGQL` class or similar. Would be happy to accept PRs on this and also get involved in the implementation.

[2017-03-20 16:32] lewisf commented on #19
awesome, this is something that im happy to take a look at in the next week or so.

where should this go? should an apollographql/extract-gql repo be created for this?

[2017-03-21 02:03] stubailo commented on #19
@lewisf I think the best option is for you to create a prototype on a personal repo, then we can move it into the organization afterwards?

We should also see if this can replace https://github.com/apollographql/graphql-document-collector, which is pretty old and I'm not sure many people use it. The intention was to do something similar.

[2017-03-23 16:38] lewisf commented on #19
Okay, sounds reasonable, I'll give it a shot

[2017-03-26 18:29] lewisf commented on #19
Quick update after speaking with @Poincare. It looks like the ExtractGQL class is exactly what should get extracted.

After extracting it we'd be able to use it to solve #17 as mentioned above, and I'd be able to use it to address https://github.com/apollographql/apollo-codegen/issues/25.

I'm going to work on pulling it out into another package and seeing if anything needs to change (public/priva

[2017-03-27 03:35] lewisf commented on #19
Okay, I've done some initial work in extracting ExtractGQL here:
https://github.com/lewisf/extract-gql

I've even tried using it in another project locally and it worked well (yay). I haven't done an audit of the public interface but it's good to know that the extraction was pretty straightforward due to how ExtractGQL was written here.

Some key improvements I want to make to extract-gql before p

[2017-03-30 14:45] Poincare commented on #19
@lewisf Great! Most of those issues and general direction look good to me.

However, I did think that the package you would be building wouldn't actually include any of the CLI portions that this tool provides. Instead, it should just focus on providing a simple library that allows other projects (e.g. `apollo-codegen`) to build on top of the query extraction. Then, `persistgraphql` can simply use

[2017-03-30 16:32] lewisf commented on #19
@Poincare yes that definitely does sound reasonable. I'll go ahead and make that modification to extract-gql's responsibilities

[2017-03-30 18:02] vlasenko commented on #16
@lassombra I have put together alpha version of PersistGraphQL Webpack Plugin, which addresses both of described options, I believe. The plugin is here and available on npm:
https://github.com/sysgears/persistgraphql-webpack-plugin

The example of using this plugin with project that utilizes Webpack both for backend and frontend is here:
https://github.com/sysgears/apollo-fullstack-starter-kit/com

[2017-03-30 18:09] lassombra commented on #16
That looks like exactly what I was hoping for.  I'll try it out sometime next week, thanks.

[2017-04-03 14:23] vlasenko commented on #16
For full example of adding persisted queries via PersistGraphQL Webpack Plugin please see commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/dfd6e4e4ba16188718322b8baefb9cbbc33c6ca8

[2017-04-15 18:39] jlengstorf opened #20 "Extracting from JS fails with "unhandled promise rejection""
I’m getting an error I’m not sure how to start debugging when trying to run `persistgraphql` on `gql`-tagged queries in a project:

[code]

I stripped down the file to make sure it wasn’t something else in my code:
[code]

After looking through the tests, I believe this _should_ work, so I’m not sure how or where this is failing. If this is a bug and not an issue with how I'm using it, I'm happy t

[2017-04-15 20:15] vlasenko commented on #20
@jlengstorf The command line should be:
[code]

Not very intuitive, right? :)

[2017-04-17 19:37] jlengstorf commented on #20
@vlasenko Thanks for the clarification! I just submitted #21 to clarify usage in the README for newbies like me in the future. :)

[2017-04-18 03:10] tlvenn commented on #17
@Poincare do you have any insight on how FB is solving this ? It should be a pretty valuable experience to build upon.

[2017-04-18 03:13] tlvenn commented on #17
@leebyron can you shed some light on this topic ? Thanks a lot in advance.

[2017-04-19 15:38] #20 closed

[2017-04-26 09:38] fubhy commented on #13
I opened https://github.com/apollographql/persistgraphql/pull/22 which does the trick for me in my current project. This only solves the fragment definition sorting problem, not the more fundamental issue outlined above.

[2017-05-23 14:38] Aides359 opened #25 "Lost type information with addPersistedQueries"
Extending on #3 when using other `NetworkInterface`s this type information is lost after calling this function.

As the function expects a parameter of type `NetworkInterface` and returns this parameter after `Object.assign` the inferred type is `NetworkInterface & { query: Promise<ExecutionResult> }`.
Thus all type information of the networkInterface extending `NetworkInterface` is lost.

## Exam

[2017-05-24 19:30] Poincare commented on #25
Yes, totally agree with this. I think the generics solution should work perfectly. Would you like to submit a PR that implements this?

[2017-05-24 20:29] Aides359 commented on #25
Can do, but probably only by next week

[2017-05-25 22:10] Poincare commented on #25
Sure, that sounds great. Please let me know if I can help in some way.

[2017-05-26 01:15] Poincare commented on #19
Hey @lewisf any progress on this? Any way I can help?

[2017-05-26 01:16] Poincare commented on #13
Fixed thanks to @fubhy :)

[2017-05-26 01:16] #13 closed

[2017-05-26 02:55] lewisf commented on #19
@Poincare sorry! i had to shift focuses to prioritize something else -- happy to chat about this if you wanted to take a stab at this

[2017-05-29 09:01] Aides359 commented on #25
Okay, is the intended use of `addPersistedQueries` to call it and use the returned value or does it only enhance the existing network interface?

Replace:
[code]

Enhance:
[code]

[2017-05-29 09:08] Aides359 commented on #25
As I see it now with `return Object.assign(networkInterface, { /* */ }` the existing object is enhanced, so it might be the better option to just not return the modified object but keep it as `() => void` to clarify its correct usage. With that also no type information of the original network interface is lost (what is lost however is the `query(request: Request) => Promise<ExecutionResult>` which

[2017-05-29 11:26] ghostganz opened #28 "Docs about server middleware out of date"
The README says "middleware for Express servers in persistgraphql/lib/server", but there's no middleware to be found.
It also says "These will likely be moved to their own packages in the future", which I assume already has happened. Where did they go?

[2017-05-29 15:43] stubailo commented on #28
We removed the middlewares because everyone's infrastructure will be a bit different - some people will load queries from an object, some from Redis, some from a database. So we replaced it with a simple short code snippet which people can modify to fit their needs: https://github.com/apollographql/persistgraphql#server-side

[2017-05-29 15:45] stubailo commented on #28
I've removed the offending docs, and would appreciate some more code samples for how to, for example, load the queries from a database!

[2017-05-29 21:30] veeramarni opened #29 "date for new release"
We are having build issues in our project due to downloading `@types/mocha` by this library as it conflicts with `@types\jest`. The following PR should fix it, but we don't see newer package version after that fix. Can you please release a new version ASAP?

https://github.com/apollographql/persistgraphql/pull/23

[2017-05-30 08:46] Aides359 opened #30 "Silently removing duplicate query names"
**Current behavior**
When defining two queries with the same operation name, only the last one is kept. All other versions are removed.

**Expected behavior**
Two options:
- Keep all versions
   - + they have different content, thus being different queries that should get their own id each
   - + no technical problem as the different strings take different indices on the object
   - + convenient

[2017-06-07 19:20] myyellowshoe opened #32 "No .json file generated when crawling directory."
I'm not getting a .json file pointing it to a directory, like so:
`$ persistgraphql client/src`

When I point it to a file it seams to work fine. Am I missing something here?

_Thanks for the all the amazing work contributed to the graphql community!_

[2017-06-12 19:47] scf4 opened #33 "Use with subscriptions"
Does this work with the subscriptions interface? I see no mention in the docs.

[2017-06-14 15:22] mliszewski commented on #17
Perhaps using a hash of the query itself would be beneficial. That way the lookup would only change if the contents of the query itself changed. It would be nice if the hash was able to ignore whitespace changes but that would be bonus points.

[2017-06-14 16:06] stubailo commented on #17
Yes - I agree that using a hash instead of a sequential ID would be much better!

@tlvenn at Facebook they basically store all queries ever persisted into a database, and load them on various GraphQL servers when needed with caching. That's what we expect people to do with this tool as well, but we haven't had time to write a lot of content about how to set up the whole workflow. Would definitely

[2017-06-28 18:18] kompfner opened #34 "Align persistgraphql output file format with proposed apollo-codegen operation ID mapping file"
In a [recent PR to apollo-codegen](https://github.com/apollographql/apollo-codegen/pull/147), a mechanism for generating unique operation IDs was introduced. In addition, it introduced a generated output file that maps between these IDs and the corresponding operation text, for use in registering operations with a server for persistence and whitelisting. The rationale for not simply using `persist

[2017-06-28 18:57] lemccarthy commented on #32
I'm having the same problem, I'm crawling specifically using `persistgraphql folder/ --js --extension=jsx`, and if there is a single file inside one of those directories (different levels of nesting seem to trigger/not trigger it) that does not have a gql tag inside of it, the command makes a mention of this error:

    (node:1383) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rej

[2017-06-29 17:22] martijnwalraven commented on #34
I think these changes make a lot of sense. @Poincare, what do you think?

We may want to add a root object and put the operations under an `operations` key. I think it would be great if we could specify some standard metadata, like app name and version, which a server or other tool can use to tag operations.

[2017-06-29 18:46] myyellowshoe commented on #32
Yeah agreed, I've thought of doing a similar thing, but running it over a whole folder structure would be far better.

[2017-07-04 01:36] AlexLeung commented on #33
I would also like to know whether or not Subscriptions are supported.

[2017-07-09 20:59] myyellowshoe commented on #32
@Poincare Just a small bump for some thoughts on this when you get a quick min. Thanks so much! 👍

[2017-07-18 14:07] happylinks opened #36 "Add License"
Hi, would it be possible for you to add a license file to this repo?
I saw that in the package.json it's described as MIT.

Thanks for the lib!

[2017-07-25 04:55] juhaelee opened #37 "Remove the @connection directive before the query is sent to the server"
Using persisted queries throws and error when using the @connection directive. See https://github.com/apollographql/apollo-client/pull/1801#issuecomment-317625843

[2017-08-01 09:33] slorber opened #39 "Allow to output readable format (no AST)"
Hi,

I'd like to know if it is possible to extract the queries in a human readable form, instead of minified AST that is supposed to be shared between client and server.

My usecase is that I have graphql fragments everywhere and I use fragments composition, so it would be useful to be able to output the composed version of my queries so that I can play with the queries in a sandbox like Graphiql.

[2017-08-11 18:47] rbpinheiro commented on #32
It's not generating for me, pointing to a folder or single file. My queries are on separate .gql files.
When I add --add-typename it doesn't even crawl the folder.
Also, the readme is saying to use --add_typename, but the cli corrects me tells me to use --add-typename.

[2017-08-19 20:06] Poincare commented on #36
Hm. I don't know what license this should actually be - @stubailo help?

[2017-08-19 20:08] Poincare commented on #39
@slorber Yeah, this should be possible pretty easily. It might be possible to use [prettier](https://github.com/prettier/prettier/issues/1968)'s support for GraphQL queries in order to pretty print the existing query keys in the JSON map `persistgraphql` outputs. Could you give this a try and see if it matches your usecase?

[2017-08-19 20:10] Poincare commented on #37
This makes sense. Should be a pretty easy fix if anyone wants to contribute. Likely have to add some preprocessing code [here](https://github.com/apollographql/persistgraphql/blob/master/src/ExtractGQL.ts).

[2017-08-19 20:11] Poincare commented on #32
@myyellowshoe @lemccarthy Sorry guys - this summer has been pretty busy but I'm back now. To clarify, the issue is that if there is a single file that *doesn't* contain a gql tag, then it fails because of an empty array being mishandled?

[2017-08-19 20:13] Poincare commented on #30
Throwing error seems like the right approach here. I think the generally accepted idea is that you shouldn't have two queries with the same name and it seems reasonable to enforce that. I'm open to hearing alternative solutions to this of course.

[2017-08-19 20:13] Poincare commented on #28
We can go ahead and close this since the doc changes have been merged.

[2017-08-19 20:13] #28 closed

[2017-08-19 20:14] Poincare commented on #17
Although the hash function idea is interesting, hash function support on the browser is pretty bad and it probably isn't a good idea to implement our own hash function within this project. I guess a possible solution is to add some kind of dependency that offers a simple hash function within the browser.

[2017-08-19 20:27] Poincare commented on #34
@martijnwalraven @kompfner This makes sense. I haven't yet delved deeply into the apollo-codegen PR but the core idea of using the operation hashes seems great. Will look into this in more detail shortly.

[2017-08-19 21:20] Poincare commented on #29
I just pushed a release, sorry about the delay - I was away for the summer.

[2017-08-19 21:20] #29 closed

[2017-08-21 09:06] slorber commented on #39
Hi,

I'm not sure what you are proposing me to do @Poincare

Anyway I've found a workaroud: the Apollo Chrome extension does allow me to see the "live queries" of a page so I can get my output from there. It may not be "automated" but is good enough for me

[2017-08-21 14:18] mdeltito opened #40 "Latest 0.3.3 release does not install"
Installing this package appears to have broken in 50970f76b3b46e4c5327895f93990d5681affede

[code]

[2017-08-21 21:07] david-trejo-ck opened #41 "Push npm version tags to repo? e.g. `git push --tags`"
If you don't have tags, that's okay too, feel free to close this issue. Thanks :)

[2017-08-22 00:36] emmanuelbuah commented on #40
Yeah, thats because the commit https://github.com/apollographql/persistgraphql/commit/29cef1e908e52777f4894f543d427381d21bbef3 excluded the bin folder in the repo, hence breaking the path to the bin folder.

[2017-08-22 19:37] Poincare commented on #40
Ah darn, will fix this right away.

[2017-08-22 19:46] Poincare commented on #40
This should be fixed as of 0.3.5. Thanks for pointing this out.

[2017-08-22 19:46] #40 closed

[2017-08-23 23:06] sepehr500 opened #42 "Apollo Link Support"
I would like to be able to use `persistgraphql` with Apollo link. Is there a way to currently do this? Can it be a feature?

[2017-08-23 23:12] stubailo commented on #42
Yeah definitely this is something we want to do asap, since apollo link is such a natural way to combine stuff.

[2017-08-24 04:37] stubailo commented on #36
@Poincare just copy-paste the MIT license from Apollo Client.

[2017-08-26 20:55] Poincare commented on #42
Yeah, definitely - this sounds awesome. I'd be happy to help a contributor in case someone's interested in building this?

[2017-08-26 20:56] Poincare commented on #41
The releases aren't tagged at the moment. On the next release, I'll tag as latest and then push the tags. Thanks for pointing this out!

[2017-08-26 20:56] #41 closed

[2017-08-26 20:59] Poincare commented on #36
Done! Thanks for mentioning this @happylinks.

[2017-08-26 20:59] #36 closed

[2017-08-26 21:50] Poincare commented on #42
Here's what I think the implementation could look like for a `PersistLink`:

In the `request` method, we can use the query map produced by `persistgraphql` in order to look up the ID associated with the query within the `Operation`, just as we do [here](https://github.com/apollographql/persistgraphql/blob/master/src/network_interface/ApolloNetworkInterface.ts#L67). We can then pass along the const

[2017-08-26 21:51] Poincare commented on #33
I don't believe there's a subscription-ready network interface that's available for immediate use but this shouldn't be hard to implement. It will essentially look like the [HTTP interface](https://github.com/apollographql/persistgraphql/blob/master/src/network_interface/ApolloNetworkInterface.ts#L67). Would either of you (@scf4, @AlexLeung) be interested in helping with this?

[2017-08-26 22:05] happylinks commented on #36
Awesome! Our legal department thanks you ;)

[2017-08-28 17:52] david-trejo-ck commented on #41
awesome thank you!! <3

[2017-08-29 17:01] dimitri-koenig opened #43 "Promise error catching block needed"
Hi there

It took me a while to figure out that using nodemon this nice library/utility throws an 'Maximum call stack size exceeded' error, if you give it a change to do so :-)

I'll attach a PR to this.

Thx
Best
Dimitri

[2017-08-29 18:01] dimitri-koenig opened #45 "Maximum call stack error"
Hi there

I've run into a maximum call stack error and could trace it back to this cloneDeep function:
https://github.com/apollographql/persistgraphql/blob/master/src/queryTransformers.ts#L63

Any way around it?

Best
Dimitri

[2017-08-31 17:34] Poincare commented on #43
Looks good to me. Will merge now and release soon.

[2017-08-31 17:36] #43 closed

[2017-09-02 00:45] lemccarthy commented on #32
Yes, I have many directories which contain gql tags, but also files that
don't (dumb react view components), and the presence of even a single one
without the tag causes the whole process to fail. If I set up a test
directory with only tagged files, it succeeds.

On Sat, Aug 19, 2017 at 4:11 PM, Dhaivat Pandya <notifications@github.com>
wrote:

[2017-09-07 15:17] myyellowshoe commented on #32
@Poincare All good! Really appreciate the work on this. Haven't tested myself without files that don't have gql tags, only got it to work with a single file.

[2017-09-19 01:41] dcworldwide opened #47 "[Idea] replace json property names with ordinals to reduce bandwidth"
Just a thought, so we already have query -> id mapping. Would it then not be possible to extend that concept to the JSON payload property names?

I.e.

{
   orders: [
       id: "",
       customer: {...}
   ]
}

to

{
   1: [
       2: "",
       3: {...}
   ]
}

and then have apollo restore the property names?

[2017-09-19 07:10] Poincare commented on #47
Does this result in a significant reduction in bundle size post-gzipping?

[2017-09-19 09:18] dcworldwide commented on #47
Will test tomorrow. Presumably largest benefit would be for non gzip responses

[2017-09-20 06:48] Muuuchem commented on #47
Interesting Idea. I will give it a try on Monday.

[2017-09-21 18:55] sepehr500 commented on #32
I am having this issue as well. Is anybody looking into a fix?

[2017-09-22 20:00] sepehr500 commented on #32
@Poincare  I have pushed up a fix for the issue. @lemccarthy @myyellowshoe , feel free to try out my fix. It is a small amount of code, and I tried it out around the office by having people modify their `node_module` folder.

[2017-09-28 05:10] dcworldwide commented on #47
A quick and dirty test on a large json file that I had.

![json size test](https://user-images.githubusercontent.com/4898751/30950255-1537db54-a45f-11e7-9f42-74f7d02d983f.png)

output.json is a large json array with redundant keys
output.optimised.json re-names all keys from strings, into single/double character pseudo keys (as per OP)

[2017-10-03 15:36] sepehr500 commented on #32
We should close this issue if nobody is having problems anymore.

[2017-10-15 23:29] veeramarni opened #49 "Must provide a query error when use with graphql-subscription"
When using with `subscription` if fails with the following error.

[code]
![image](https://user-images.githubusercontent.com/3382355/31590498-26cda866-b1df-11e7-86ca-05bb83d24a94.png)

May be related to https://github.com/apollographql/persistgraphql/issues/33

[2017-10-26 05:52] mergebandit commented on #42
@Poincare any chance you're at the graphql summit? I'd be happy to meet up tomorrow and discuss this fix in person if you are.

[2017-10-26 16:25] mergebandit opened #50 "Mixing .graphql files with tagged template literals"
Working on a project that uses primarily the `gql` tagged template literal for defining queries, but `.graphql|.gql` files for defining fragments.

Currently persistgraphql seems to be an either-or proposition. If you pass in the `--js --extension=js` arguments, the fragments aren't in the docMap, and as a result the following throws

[extractFromAST](https://github.com/apollographql/persistgraphq

[2017-10-28 05:40] Poincare commented on #42
@mergebandit Unfortunately, I wasn't able to make it to Summit - there is a completed implementation of this link [right here](https://github.com/apollographql/apollo-link/pull/94).

[2017-10-31 18:38] mergebandit commented on #42
The `help wanted` label is still attached to this issue - do you still want help, or are you good-to-go once that PR gets pushed through?

[2017-11-17 08:52] raderio opened #52 "Server and client sync"
How server and client sync this map when on client was added new query?

[2017-11-28 01:56] luckydrq opened #53 "Can it be used with Relay Modern?"
Not read it deeply, just wonder can or cannot be used in Relay Modern. Thanks!

[2017-11-28 14:03] j2l opened #54 "can't install on Windows"
chmod?
[code]

[2017-12-15 01:25] jaredly opened #55 "[BUG] persistgraphql serializes *differently* from apollo client, breaking the whitelist"
persistgraphql's serialization always puts fragments at the bottom, whereas apollo-client matches the source. So if you have a query like
[code]
then whitelisting is broken 😬😬😬 because persistgraphql rearranges the text.

You can work around it by putting the fragment after in the source, but it's a weird inconsistency that just cost me a couple hours' work trying to debug.

[2017-12-21 13:30] raderio opened #56 "Register query manually"
Why just not register them manually?

Client team can make a request to backend team to register a new query, in this case backend team will be able to improve performance of SQL queries.

[2017-12-28 22:06] kamsar commented on #30
In a large application with many developers enforcing unique query names across a big whitelist may not be particularly tenable, so imo this should be a choice with the default throwing an error.

[2018-01-30 01:10] azaslavsky opened #57 "Support glob syntax [feature request]"
[code]
It feels like the above should work.  Otherwise persistgraphql needs to be run multiple times for each desired directory, with the results being composed later.

[2018-02-09 19:58] zanettin opened #58 "[BUG] template strings within attributes not parsed correctly"
Hi

example query:
[code]

all queries work on default `POST` request using apollo. after running persistgraphql you'll receive an error, that no value was passed to the name attribute on the 3rd example.

currently you can "workaround" it by using variables, but in some cases it would be great to just pass a variable via template string literals.

| package | version |
|-- | --|
| apollo client |

[2018-02-23 11:26] pleerock commented on #42
There is a big lack of docs on how to use persistgraphql with apollo client. I don't know and simply can't find how to connect that ApolloNetworkInterface to my angular app. I guess this issue is related to this problem, so my question is - is it possible to use this library with Apollo client functionality we have up to date?

[2018-03-10 01:30] MrSaints commented on #53
Related to https://github.com/apollographql/persistgraphql/pull/59

[2018-03-11 14:44] amityo commented on #42
@pleerock does the code work for you? I can see that resolve from query to id works, but QueryManager throws excpetion: `query option is required. You must specify your GraphQL document in the query option.`

[2018-03-19 01:40] luckydrq commented on #53
I've figured out how to implement `Persisted Query` using [relay-compiler](https://github.com/facebook/relay/blob/master/packages/relay-compiler/package.json). So this issue can be closed.

[2018-03-19 01:40] #53 closed

[2018-04-02 19:39] leosurwiki commented on #37
@Poincare  I added a transform which removes `@connection` directives in https://github.com/apollographql/persistgraphql/pull/61/files .
Could you take a look?

[2018-05-04 14:25] toddtarsi opened #62 "How should we namespace open source queryTransformers?"
First off, let me say thanks for the awesome codebase and toolkit! I am using it with Apollo 2.x now and am really enjoying the lighter network footprint!
To help others work with apollo-link-state and persistgraphql, I have a small queryTransformer which strips any fields with the `@client` directive, and I'd like to share it for others to use. Is there a repo naming pattern I should aim for, or

[2018-05-04 21:00] oluwie commented on #62
Hi @toddtarsi, I was hoping you could hep me out. I have trouble getting this library to work with Apollo 2.0. I was hoping you could help me in my implementation to see what I'm doing wrong.

This is how I'm implementing my Apollo client.
`const link = ApolloLink.from([addHeaders, stateLink, restLink, httpLink]);
const apolloClient = new ApolloClient({
    cache,
    link
});`

const newApolloCli

[2018-05-04 21:12] toddtarsi commented on #62
I'll do my best @oluwie -

Okay, so this is how I'm using persistgraphql with a small commander script to build my queries:

[code]

My queryTransformers file is the following. It looks a bit crazy, but uses the addTypename transform, as well as another transform I wrote to strip all client fields. I intend to open source that this weekend (edit: i fixed the d.name.value check later):

[code]

As

[2018-05-04 21:15] toddtarsi commented on #62
Oh, @oluwie - This is how I'm building my persisted-queries link more granularly:

[code]

[2018-05-04 21:24] toddtarsi commented on #62
To provide a bit more explanation of why this is needed (last post honest):

In 2.0, our issue is this:

By the time the query has reached the http request, it has been transformed since the initial expectation (in our case, missing client fields). If we remove these fields from the fragments, we lose our data dependencies. If we keep these fields, the serverside queries will fail to match what th

[2018-05-06 22:41] oluwie commented on #62
@toddtarsi  I see. You're using the `apollo-link-persisted-queries` for the actual as the network interface. From the README, I was under the impression that you use the `addPersistedQueries` function exported by the `ApolloNetworkInterface.ts` file to modify the network interface to use the queryMap object provided to that function.

I'm looking for a way to use the network interface provided by

[2018-05-07 00:37] toddtarsi commented on #62
In that case, I don't have too much I can offer to help, but I see in your initial comment this:
[code]

I think addPersistedQueries takes a networkInterface, not an apollo client instance. The whole networkInterface API around 2.x was converted to simple network options for httpLink. If you're on 1.x, then you'd instead pass it in to something like this:

[code]

On a side note, if you're using s

[2018-05-18 16:26] toddtarsi commented on #62
Hey all, I hope I am not raising too much trouble. I'll namespace the query transformer script above as:

persistgraphql-query-transform-trim-client-fields

Thanks again for the amazing tools, and you all are awesome!

[2018-05-23 22:58] csilvers commented on #55
It also looks like it sorts the fragments (alphabetically?) so even if you put them at the bottom, you have to be careful to put them in the proper order if there's more than one.

[2018-05-31 18:40] MDrooker opened #65 "Hapi17 Example"
Hey All-

Has anyone moved to Hapi17 and used this library?

Im getting a wonky error with sending GETs....even though I do have a query string that looks like -
[code]

The error is-
[code]
An example of the code I converted to looks like -

[code]

[2018-06-20 19:43] cocacrave commented on #42
Any update on how to connect with Apollo Link? The comments here are few months old but I don't see any docs

[2018-07-24 02:31] cooperka commented on #42
It seems like this library hasn't been updated since Apollo 2.0 with links. The good news is it's very simple to create a link yourself. All that's needed is the `getQueryDocumentKey` util.

Here's my working code:

[code]

If anyone wants to turn this into a PR here, be my guest.

[2018-07-27 17:53] bessey opened #66 "Relax dependency requirements"
I'm using this tool just to extract queries from JS files, and it does that great, but the strict dependcy requirements cause it to load a version of `graphql` that doesn't support the `Interface1 & Interface2` SDL syntax, and also it brings in a dated version of Apollo too. I'm using Yarn's `resolutions` to push the requirements of:

[code]
up to:
[code]
and for my use case, it seems to work fine

[2018-07-27 17:54] bessey commented on #66
Also, could you make `apollo-client` a peer dependency? Only the network interface needs it and I'm going to guess not many people are using that feature

[2018-07-27 21:09] evans commented on #66
@bessey Thanks for openning an issue! I'm curious what you're using the query extraction for?

Also as a heads up, we're close to deprecating this package in favor of the [apollo-cli](https://github.com/apollographql/apollo-cli), so your best bet would be to use that. It can generate types and extract queries with something like `apollo codegen:generate --schema=schema.json --queries="test.graphql

[2018-07-27 21:32] evans commented on #66
#67 for reference

[2018-07-28 18:50] bessey commented on #66
Oh sweet, I had a look at that but misinterpreted it as only a type
generator.

I am or by the sounds of it was using this package to do something pretty
wacky... Server side render an Apollo React component tree... In a Rails
app. We use hypernova for SSR but it is synchronous so the component must
be hydrated with its data ahead of time. Your honestly amazing tooling
allows me to pull the query

[2018-07-31 20:07] austincondiff opened #68 "Does not recognize .gql file extension"
Support for the `.gql` file extension would be nice in addition to the `.graphql` extension. Some projects like to keep short extensions where possible.

[2018-07-31 20:15] austincondiff opened #69 "Commented out query causes syntax error during javascript extraction"
When running a js extraction, it throws a syntax error when there is a commented out query in the code. Ideally it would simply skip over it.

[2018-07-31 20:33] austincondiff opened #70 "Queries from both external graphql files and JS extraction aren't output together"
Queries from both external graphql files and JS extraction are not compiled in the same output file

[2018-08-05 11:54] zzdjk6 opened #71 "This tool can only generate 1 query when scan a directory that contains multiple ".graphql" files"
I have several ".graphql" files in 1 folder, and use `persistgraphql ./src/graphql/` to generate the map json file, but the result is not correct.

P.S. They are valid ".graphql" files with correct syntax and can be used with `webpack-graphql-loader`.

The graphql files:

![wx20180805-235104](https://user-images.githubusercontent.com/3908516/43685629-af4b7e4e-990a-11e8-9abe-f357621920e7.png)
[grap

[2018-08-05 15:24] bessey commented on #66
FYI I got around to writing up my use case, just in case you were interested in more details
https://bessey.io/blog/2018/08/05/apollo-graphql-prefetching/

[2018-09-05 13:18] ayalon commented on #71
I have the same issue.

[2018-09-07 16:03] zzdjk6 commented on #71
@ayalon you could try my tool to generate the query mapping file: https://github.com/zzdjk6/graphql-extractor

[2018-10-30 07:29] DanielRuf opened #72 "Add / enable Travis CI"
Currently there is no automatic testing for PRs and commits. We should add Trabis CI to test against the different Node.js releases and catch breaking builds.

[2018-10-30 09:21] #65 closed, assigned to nobody

[2018-11-07 20:22] mdeltito commented on #32
We ran into this issue as well (same thing, only happened on a single developer's machine) and found it also occurs when there is an _empty_ directory somewhere in the input path.

[2019-02-27 12:55] ghost commented on #68
Same for us. It at least works when passing `--extension=gql`.

[2019-03-03 23:36] ellioseven opened #74 "Support babel compiled AST."
I use [babel-plugin-graphql-tag](https://github.com/gajus/babel-plugin-graphql-tag) to compile my queries, this is used mainly so I can use aliases when importing GraphQL files. However this doesn't work with the build tool as it appears fragments are not being imported.

It would be helpful to be able to crawl precompiled AST JS so that crawling can be done on resolved documents (prevent having t

[2019-03-04 07:29] ellioseven commented on #42
@cooperka

I am wondering how you managed to implement the `id` via `extensions`?

I am getting:

[code]

Which suggests that the extension is not being passed on?

I would greatly appreciate an implementation example .

[2019-05-21 15:28] knightkhan commented on #54
you got any solution of it

[2019-05-24 07:47] j2l commented on #54
no, this is another macinTOSH issue they don't care about.